<mat-card>
  <mat-toolbar color="primary">
    <span>RANKING DE TIMES LOL</span>
  </mat-toolbar>
 <div *ngIf="ligas$ | async as ligas; else loading">
  <table mat-table [dataSource]="ligas" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          Ranking
        </th>
        <td mat-cell *matCellDef="let  liga"> {{liga._id}} </td>
      </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="emblema">
      <th mat-header-cell *matHeaderCellDef>Emblema</th>
      <td mat-cell *matCellDef="let liga">
        <img [src]="liga.emblema" width="40" height="40" />
      </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let liga">{{ liga.name }}</td>
    </ng-container>

    <!-- Pontos Column -->
    <ng-container matColumnDef="pontos">
      <th mat-header-cell *matHeaderCellDef>Pontos</th>
      <td mat-cell *matCellDef="let liga">{{ liga.pontos }}

      </td>

    </ng-container>

    <!-- icone Column -->
    <ng-container matColumnDef="icone">
      <th mat-header-cell *matHeaderCellDef>Icone</th>
      <td mat-cell *matCellDef="let liga">
        <mat-icon aria-hidden="false" aria-label="Example">{{liga.nome | pontos }}</mat-icon>
      </td>

    </ng-container>

    <!-- Ações Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab color="accent" aria-label="Adicionar Times">
          <mat-icon (click)="onAdd()">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let liga">
        <button mat-icon-button color="primary" aria-label="Editar Times">
          <mat-icon >edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Remover Times">
          <mat-icon >delete</mat-icon>
        </button>
      </mat-cell>


    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>

  </ng-template>


</mat-card>
